.idea
.vscode
.gradle
.github
.settings
*build
*.jks
*.properties
lib-*.aar
/Release
/docs
web-admin/.env
web-admin/admin.env
web-admin/storage/assets/
web-admin/storage/*.json
web-admin/storage/**/*.json
!web-admin/storage/.gitkeep
